.elm-photo,
.tile-photo {
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  line-height: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.elm-photo.photo-main,
.tile-photo.photo-main {
  border: 1px solid #f00;
  width: 300px;
  height: 300px;
}
.elm-photo:before,
.tile-photo:before {
  content: "";
  display: none;
  padding-top: 100%;
}
.elm-photo img,
.tile-photo img {
  display: block;
  position: relative;
  width: 100%;
}
.elm-photo.photo-cover:before,
.tile-photo.photo-cover:before {
  display: block;
}
.elm-photo.photo-cover img,
.tile-photo.photo-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.elm-photo.photo-contain:before,
.tile-photo.photo-contain:before {
  display: block;
}
.elm-photo.photo-contain img,
.tile-photo.photo-contain img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.elm-ico,
.button-ico,
.menu-ico,
.frm-ico,
.tab-ico,
.tile-ico {
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.elm-ico img,
.button-ico img,
.menu-ico img,
.frm-ico img,
.tab-ico img,
.tile-ico img,
.elm-ico [class*="icon-"],
.button-ico [class*="icon-"],
.menu-ico [class*="icon-"],
.frm-ico [class*="icon-"],
.tab-ico [class*="icon-"],
.tile-ico [class*="icon-"],
.elm-ico .i,
.button-ico .i,
.menu-ico .i,
.frm-ico .i,
.tab-ico .i,
.tile-ico .i,
.elm-ico svg,
.button-ico svg,
.menu-ico svg,
.frm-ico svg,
.tab-ico svg,
.tile-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.item-tile-main {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #cbcbcb;
  color: inherit;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
}
.item-tile-main:hover {
  color: inherit;
  border-color: #ff9696;
}
.item-tile-main:hover .tile-price-wrap {
  background-color: var(--clr-att);
}
.item-tile-main:hover .tile-price-wrap:before {
  border-right-color: var(--clr-att);
  border-bottom-color: var(--clr-att);
}
.item-tile-main .tile-photo-wrap {
  display: block;
  line-height: 1;
}
.item-tile-main .tile-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  line-height: 1;
  width: 100%;
  background-color: #efefef;
  height: 28px;
  overflow: hidden;
}
.item-tile-main .tile-price-wrap {
  width: 80px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  padding: 0 5px 0 5px;
  background-color: #8c8c8c;
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
  position: relative;
}
.item-tile-main .tile-price-wrap:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 100%;
  border: 14px solid rgba(0, 0, 0, 0);
  border-right-color: #8c8c8c;
  border-bottom-color: #8c8c8c;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
}
.item-tile-main .tile-title-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 80px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.item-tile-main .tile-title {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  max-height: 28px;
  position: relative;
  overflow: hidden;
  margin: 0;
  color: inherit;
  font-weight: 400;
}
.item-tile-main .title-small {
  font-size: 11px;
  max-height: 22px;
}
.item-tile-main .tile-photo {
  height: 158px;
}
.item-tile-category-inner {
  display: block;
  position: relative;
  height: 290px;
  border: 1px solid #e5e5e5;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  overflow: hidden;
  color: var(--clr-base);
}
.item-tile-category-inner:hover {
  border-color: #f5a5aa;
  color: #fff;
}
.item-tile-category-inner:hover .tile-title,
.item-tile-category-inner:hover .tile-action,
.item-tile-category-inner:hover .tile-action a {
  color: #fff;
}
.item-tile-category-inner:hover .tile-info-wrap {
  background-color: var(--clr-att);
}
.item-tile-category-inner .tile-photo-wrap {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-tile-category-inner .tile-info-wrap {
  display: block;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 10px 5px 10px;
  text-align: center;
  background-color: #f1f1f1;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.item-tile-category-inner .tile-title,
.item-tile-category-inner .tile-action,
.item-tile-category-inner .tile-action a {
  -webkit-transition: none;
  transition: none;
}
.item-tile-category-inner .tile-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: inherit;
  display: block;
}
.item-tile-category-inner .tile-action {
  display: block;
  color: var(--clr-att);
  font-size: 14px;
}
.item-tile-category-inner .tile-photo {
  height: 225px;
  display: block;
}
.item-tile-category-inner .tile-photo:before {
  display: none;
}
.item-tile-category {
  display: block;
  position: relative;
  border: 1px solid #ececec;
  height: 282px;
  text-align: center;
  color: #020202;
  font-size: 13px;
  line-height: 17px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.item-tile-category:hover,
.item-tile-category.active {
  border-color: #f5a5aa;
  color: #fff;
}
.item-tile-category:hover .tile-title-wrap,
.item-tile-category.active .tile-title-wrap {
  background-color: var(--clr-att);
}
.item-tile-category:hover .tile-title,
.item-tile-category.active .tile-title {
  color: #fff;
}
.item-tile-category .tile-photo-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-tile-category .tile-title-wrap {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ececec;
  padding: 0 8px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.item-tile-category .tile-title {
  display: block;
  font-size: 1em;
  font-weight: 400;
  -webkit-transition: none;
  transition: none;
}
.item-tile-category .tile-photo {
  height: 254px;
}
.item-tile-category .tile-photo:before {
  display: none;
}
.item-tile-type {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  border: 1px solid #bcbcbc;
  font-size: 19px;
  line-height: 22px;
  color: #a3a3a3;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  padding: 150px 0 10px 0;
  text-align: center;
}
.item-tile-type:hover,
.item-tile-type.active {
  color: var(--clr-att);
  border-color: #f5a5aa;
}
.item-tile-type .tile-photo-wrap {
  position: absolute;
  height: 155px;
  top: 0;
  left: 0;
  right: 0;
}
.item-tile-type .tile-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 44px;
  padding: 0 5px;
}
.item-tile-type .tile-photo {
  height: 155px;
}
.item-tile-type .tile-title {
  display: block;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: inherit;
  font-weight: 400;
  line-height: inherit;
  -webkit-transition: none;
  transition: none;
}
.frm-select.select-round input:checked ~ label:before {
  background-color: var(--clr-att);
}
.frm-select.select-round label {
  font-size: 19px;
  line-height: 24px;
  padding: 0 0 0 24px;
  min-height: 24px;
  font-weight: 400;
}
.frm-select.select-round label:before {
  width: 14px;
  height: 14px;
  top: 12px;
  left: 7px;
  margin: -7px 0 0 -7px;
  border-radius: 50%;
  border: 1px solid var(--clr-att);
  background-color: transparent;
}
.frm-select.select-round label:after {
  display: none;
}
.frm-select.select-round .lbl-title,
.frm-select.select-round .lbl-price {
  display: inline;
  margin: 0 0.5em 0 0;
}
.frm-select.select-round .lbl-price {
  color: var(--clr-att);
}
select.form-input {
  display: block;
  width: 100%;
  padding-right: 35px;
  background-image: url(../img/icons/arrow-select.png);
  background-position: right 10px center;
  background-size: 24px auto;
  background-color: #fff;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none!important;
  line-height: 1em;
  text-indent: 0.01px;
  text-overflow: '';
  outline: none;
}
select::-ms-expand {
  display: none;
}
.btn-action-ico.ico-arrow-main {
  width: 150.4px;
  width: 9.4rem;
  height: 160px;
  height: 10rem;
  background-image: url(../img/icons/arrow-slider-main.png);
  background-size: 100% auto;
}
.btn.button-more {
  padding-right: 32px;
  padding-left: 12px;
  color: #fff;
}
.btn.button-more:after {
  content: attr(data-show);
  color: inherit;
}
.btn.button-more:before {
  content: "";
  display: block;
  width: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  background: url(../img/icons/more.png) center no-repeat;
  background-size: 32px auto;
}
.btn.button-more.active:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.btn.button-more.active:after {
  content: attr(data-hide);
}
.btn.button-tab-small {
  height: 34px;
  padding: 0 18px;
  background: #ececec;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: normal;
  color: var(--clr-base);
  text-decoration: none;
}
.btn.button-tab-small:hover,
.btn.button-tab-small.active {
  color: #fff;
  background-color: #818181;
}
.btn.button-tab {
  height: 42px;
  padding: 0 11px;
  border-color: #e4e2e2;
  background-color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--clr-base);
  text-decoration: none;
}
.btn.button-tab:hover,
.btn.button-tab.active {
  background-color: #f1f1f1;
  border-color: #e4e2e2;
  color: var(--clr-base);
}
.categories-inner-box {
  display: none;
  margin-bottom: 60px;
}
.categories-inner-box .info-wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
  margin-top: 25px;
  line-height: 21px;
}
.categories-inner-box .info-wrap a:not(:hover) {
  color: #2079f2;
}
.categories-inner-box .item-wrap {
  width: 16.666%;
}
.categories-tiles-box {
  margin-bottom: 35px;
}
.categories-tiles-box .items-wrap {
  margin: 0 -5px;
}
.categories-tiles-box .item-wrap {
  padding: 0 5px;
  margin-bottom: 10px;
  width: 25%;
}
.types-slider-box {
  margin-bottom: 136px;
  margin-bottom: 8.5rem;
}
.types-slider-box .page-title-box {
  margin-bottom: 88px;
  margin-bottom: 5.5rem;
}
.types-slider-box .slider-outer-wrap {
  padding: 0 150.4px;
  padding: 0 9.4rem;
}
.types-slider-box .slider-wrap {
  margin: 0 -5px;
  position: relative;
}
.types-slider-box .sl-wrap {
  padding: 0 5px;
}
.types-slider-box .ico-arrow {
  position: absolute;
  top: 50%;
  left: -150.4px;
  left: -9.4rem;
  margin-top: -80px;
  margin-top: -5rem;
  height: 160px;
  height: 10rem;
}
.types-slider-box .ico-arrow-next {
  left: auto;
  right: -150.4px;
  right: -9.4rem;
}
.tabs-tiles-box .tab-title {
  display: none;
}
.calc-box {
  margin-bottom: 35px;
}
.calc-box .tabs-content-wrap {
  background-color: #f1f1f1;
  position: relative;
  padding: 28px 0 10px 0;
}
.calc-box .tabs-content-wrap:before,
.calc-box .tabs-content-wrap:after {
  content: "";
  display: block;
  width: 9999px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #f1f1f1;
}
.calc-box .tabs-content-wrap:before {
  left: auto;
  right: 100%;
}
.calc-box .frm-title-wrap {
  margin-bottom: 35px;
}
.calc-box .frm-title-wrap .frm-title {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 0 0.3em 0;
  margin: 0;
  border-bottom: 3px solid var(--clr-att);
}
.calc-box .frm-title-wrap .frm-title img {
  display: inline-block;
  vertical-align: middle;
  width: 1.44em;
  height: auto;
  margin: -2px 0.5em 0 0.8em;
}
.calc-box .frm-field-title {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 8px 0;
}
.calc-box .frm-field-price {
  font-size: 30px;
  line-height: 30px;
  display: block;
  margin-top: -10px;
  color: var(--clr-att);
}
.calc-box .frm-field-price + .btn {
  top: -16px;
}
.calc-box .frm-row {
  margin: 0 -80px 0 0;
  margin: 0 -5rem 0 0;
}
.calc-box .frm-field {
  padding: 0 80px 0 0;
  padding: 0 5rem 0 0;
  margin-bottom: 72px;
  margin-bottom: 4.5rem;
  max-width: 276px;
}
.calc-box .frm-row-info {
  font-size: 15px;
  line-height: 20px;
  margin-top: -10px;
}
.calc-box .frm-row-info a:not(:hover) {
  color: #2079f2;
}
.calc-box .form-input + .frm-select {
  margin-top: 20px;
}
.calc-box .btn,
.calc-box .form-input {
  height: 44px;
  border-width: 3px;
  width: 100%;
}
.calc-box .btn {
  font-size: 22px;
  padding: 0 10px;
}
.calc-box .form-input {
  padding-left: 15px;
  font-size: 20px;
}
.calc-box .tab-title {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 10px 30px 10px 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 24px;
  cursor: pointer;
}
.calc-box .tab-title:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  background: url(../img/icons/arrow-select.png) center no-repeat;
  background-size: 100% auto;
}
.calc-box .tab-title.active:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-title-box {
  margin-bottom: 68.8px;
  margin-bottom: 4.3rem;
  font-size: 14px;
  line-height: 1.28571429;
  text-align: center;
  color: inherit;
}
.page-title-box .page-title {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: inherit;
  padding: 0 0.4em 0.1em 0.4em;
  margin: 0 0 1em 0;
  border-bottom: 2px solid var(--clr-att);
}
.page-title-box .page-title:last-child {
  margin: 0;
}
.tabs-box.tabs-type-second {
  margin-bottom: 20px;
}
.tabs-box.tabs-type-second .menu {
  margin: 0 -6px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tabs-box.tabs-type-second .menu li {
  padding: 0 6px;
  margin-bottom: 12px;
}
.tabs-box .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -6px 0 0;
}
.tabs-box .menu li {
  margin: 0 6px 0 0;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tabs-box .menu li:before {
  display: none;
}
.tiles-box {
  margin-bottom: 137.6px;
  margin-bottom: 8.6rem;
  color: var(--clr-base);
}
.tiles-box .items-wrap {
  margin: 0 -4px;
}
.tiles-box .item-wrap {
  padding: 0 4px;
  margin-bottom: 20px;
  width: 20%;
  -webkit-animation: fadein ease 0.2s;
          animation: fadein ease 0.2s;
}
.tiles-box .item-wrap:nth-child(10) ~ .item-wrap {
  display: none;
}
.tiles-box .show-all .item-wrap:nth-child(6) ~ .item-wrap {
  display: block;
}
.tiles-box .show-all ~ .more-action-wrap .btn.button-more:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.tiles-box .show-all ~ .more-action-wrap .btn.button-more:after {
  content: attr(data-hide);
}
.tiles-box .more-action-wrap {
  text-align: center;
  line-height: 1;
  padding: 20px 0 0 0;
  display: block;
}
.tiles-box .btn.button-more {
  height: 36px;
  font-size: 22px;
  text-transform: none;
  font-weight: 400;
  border: none;
  padding-bottom: 4px;
}
@media (max-width: 1199px) {
  .categories-inner-box .item-wrap {
    width: 20%;
  }
  .tiles-box .item-wrap {
    width: 25%;
  }
  .tiles-box .item-wrap:nth-child(8) ~ .item-wrap {
    display: none;
  }
}
@media (max-width: 1023px) {
  .categories-inner-box .item-wrap {
    width: 25%;
  }
  .calc-box .tabs-content-wrap {
    padding: 8px 0;
  }
  .calc-box .tabs-nav-wrap {
    display: none;
  }
  .calc-box .tab-block {
    display: block;
  }
  .calc-box .tab-content {
    display: none;
    padding: 15px 0 40px 0;
    border-bottom: 1px solid #e4e2e2;
    margin-bottom: 40px;
  }
  .calc-box .tab-title {
    display: block;
  }
  .calc-box .frm-field {
    width: 33.33%;
    max-width: inherit;
    padding-right: 10px;
  }
  .calc-box .frm-row {
    margin-right: -10px;
  }
  .calc-box .frm-title-wrap .frm-title {
    font-size: 16px;
  }
  .calc-box .frm-field {
    margin-bottom: 30px;
  }
  .tiles-box .item-wrap {
    width: 33.33%;
  }
  .tiles-box .item-wrap:nth-child(6) ~ .item-wrap {
    display: none;
  }
  .item-tile-main .tile-title {
    font-size: 11px;
    max-height: 22px;
  }
}
@media (max-width: 767px) {
  .categories-inner-box .item-wrap {
    width: 33.33%;
  }
  .categories-tiles-box .item-wrap {
    width: 50%;
  }
  .calc-box .frm-field {
    width: 100%;
  }
  .calc-box .frm-field-price {
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }
  .calc-box .frm-field-price + .btn {
    top: auto;
    margin-top: 10px;
  }
  .tiles-box .item-wrap {
    width: 50%;
  }
}
@media (max-width: 639px) {
  .categories-inner-box .item-wrap {
    width: 50%;
  }
}
@media (max-width: 479px) {
  .categories-inner-box .item-wrap {
    width: 100%;
  }
  .categories-tiles-box .item-wrap {
    width: 100%;
  }
  .tiles-box .item-wrap {
    width: 100%;
  }
}
